<section class="profile container">
    <div class="profile__wrapper">
      <div class="profile__title-wrapper">
        <h3 class="profile__title">
          Change <span class="profile__txt-spec">Password</span>
        </h3>
      </div>
    </div>
    <form ngNativeValidate [formGroup]="userForm" (ngSubmit)="saveChanges()">
      <div class="profile__data-wrapper">
        <p class="profile__data-title">Current Password</p>
        <p class="profile__desc">
        Don't worry, no one can see you password it's encrypted.
        </p>
        <input
          formControlName="currentPassword"
          autofocus
          required
          [ngClass]="{
            'form__error-input': errorCurrentPassword
          }"
          placeholder="Current Password"
          class="profile__data-input"
          type="password" />
        <p *ngIf="errorCurrentPassword" class="form__error-text">
          {{ currentPasswordMessage }}
        </p>
      </div>
      <div class="profile__data-wrapper">
        <p class="profile__data-title">New Password</p>
        <p class="profile__desc">
          Don't worry, no one can see you password it's encrypted.
        </p>
        <input
          formControlName="newPassowrd"
          class="profile__data-input"
          minlength="4"
          [ngClass]="{
            'form__error-input': displayErrorMessagePassword
          }"
          maxlength="20"
          #inputPassowrd
          (keyup)="showErrorPassowrd(inputPassowrd.value)"
          placeholder="New Password"
          required
          type="password" 
        />
        <p
          *ngIf="displayErrorMessagePassword"
          class="form__error-text"
        >
          {{ passwordErrorMessage }}
        </p>
          <button class="profile__data-btn" type="submit">Save Changes</button>
          <button class="profile__data-btn" type="button" routerLink="/user-profile">Back</button>
      </div>
    </form>
  </section>
  