@import "../../../../scss/abstract/variables";

.users {
  margin-top: 150px;
}

.actions-btn {
  padding: 5px 0;
  width: 80px;
  border-radius: 3px;
  color: $white;
  background: $blue;
  border: 1px solid $blue;
}

.actions-btn:hover {
  background: $white;
  color: $blue;
  transition: 0.3s all ease;
}

.spec {
  width: 350px;
}

.mat-form-field {
  width: 250px;
  margin-bottom: 20px;
}

.users__header {
  text-align: center;
  padding-bottom: 50px;
}

.users__header-info-spec {
  color: $blue;
}

.users__header-title {
  margin-bottom: 10px;
  font-size: 22px;
}

mat-paginator {
  background: none;
  margin-top: 15px;
}

.users__header-info {
  font-size: 12px;
  max-width: 400px;
  padding: 10px 0 20px 0;
  line-height: 22px;
  color: $dark-gray;
  margin: auto;
}

.create-new {
  cursor: pointer;
  float: right;
  margin-top: 30px;
  border-radius: 50%;
  color: wheat;
}

.create-new-img {
  width: 26px;
}

.users__header-subtitle {
  margin-top: 30px;
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  /*  Enable this to hide header
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
