<mat-dialog-content>
    <div class="modal-header">
        <h4>{{ dialogText }}</h4>
        <form >
            <mat-form-field appearance="fill">
                <mat-label matNativeControl>Select Report Reason</mat-label>
                <mat-select 
                    [(value)]="selectedReportReason"
                    (selectionChange)="onSelectedItem(selectedReportReason)">
                    <mat-option 
                        *ngFor="let report of reportReasonList" 
                        [value]="report" 
                        selected>
                        {{report}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" [mat-dialog-close]="true" (click)="report()">Report</button>
    <button class="mat-raised-button" [mat-dialog-close]="true">Cancel</button>
</mat-dialog-actions>