@import "../../../../scss/abstract/variables";

.modal-header {
  display: flex;
  flex-direction: column;

  mat-icon {
    cursor: pointer;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.mat-raised-button {
  padding: 8px 20px;
  margin-right: 20px;
}

.mat-dialog-actions {
  display: flex;
  margin-top: 10px;
}