$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 24px;

$white: white;
$light-gray: #f3f3ed;
$blue: #0080ff;
$gray: rgb(75, 74, 74);
$red: rgb(211, 20, 20);
$dark-gray: rgb(67, 65, 65);
$light-black: rgb(197, 192, 192);
$lighter-gray: rgb(190, 186, 186);
$green: rgb(6, 184, 6);
